* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', serif;
}

img {
    display: block;
    max-width: 100%;
}

body {
    line-height: 30px;
}

$color-crema: #EEAD33;
$color-blanco: #fff;
$color-fondo-navbar: #212121;
$color-plomo: #999;
$fondo-face: #3b5998;
$fondo-twitter: #3bbef5;
$fondo-dribbble: #f7659b;
$fondo-pinterest: #e23139;


@import "components/main-header";
@import "components/banner";
@import "components/main-welcome";
@import "components/container-design";
@import "components/navbar";
@import "components/container-testimonials";
@import "components/container-tips";
@import "components/container-newsletter";
@import "components/footer";








/*
font-family: 'Fraunces', serif;
font-family: 'Roboto', sans-serif;
*/
