.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.icon-menu {
    color: $color-crema;
    font-size: 1.5em;
    display: block;
    border: 1px solid $color-blanco;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.main-header {
    padding: 0 15px;
}

.color-span {
    color: $color-crema;
}

.main-title {
    color: $color-blanco;
}

.nav-social {
    display: flex;
    justify-content: center;
}

.nav-social__item {
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin: 10px;
}

.nav-social__item:first-child {
    background: #3b5998;
}

.nav-social__item:nth-child(2) {
    background: #1da1f2;
}

.nav-social__item:nth-child(3) {
    background: #ea4c89;
}

.nav-social i {
    color: white;
}
